<div class="mb-1">
  <a href="{{details.uiUrl}}/#search?q={{block.entity.value}}">
  Run search in Resilient {{fa-icon "external-link-square" fixedWidth=true class="external-icon"}}
  </a>
</div>
<div>
  {{#if (eq details.incidents.length details.totalIncidentCount)}}
    Displaying {{details.incidents.length}} related incidents
  {{else}}
    Displaying {{details.incidents.length}} of {{details.totalIncidentCount}} related incidents
  {{/if}}
</div>

{{#each details.incidents as |incident incidentIndex|}}
  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a {{action "changeTab" "incident" incidentIndex}} class="nav-link {{if (or (eq incident.__activeTab "incident")(not incident.__activeTab)) "active"}}" href="#">Incident #{{incident.result.id}}</a>
      </li>
    <li class="nav-item">
      <a {{action "changeTab" "matches" incidentIndex}} class="nav-link {{if (eq incident.__activeTab "matches") "active"}}" href="#">Matches</a>
    </li>
      <li class="nav-item">
          <a {{action "changeTab" "notes" incidentIndex}} class="nav-link {{if (eq incident.__activeTab "notes") "active"}}" href="#">Notes</a>
      </li>
  </ul>

  {{#if (eq incident.__activeTab "notes")}}
    <span {{action "forceReloadComments" incidentIndex}} class="reload-comments p-action">reload notes</span>
  {{/if}}

  {{#if (or (eq incident.__activeTab "incident")(not incident.__activeTab))}}
      <div class="tab-container">
        {{#if incident.id}}
            <div class="view-in-link">
                <a class="p-link" href="{{details.uiUrl}}/#incidents/{{incident.id}}">
                    View #{{incident.id}} in Resilient {{fa-icon "external-link-square" fixedWidth=true class="external-icon"}}
                </a>
            </div>
        {{else}}
            <div class="view-in-link">
                <a class="p-link" href="{{details.uiUrl}}/#incidents/{{incident.obj_id}}">
                    View #{{incident.obj_id}} in Resilient {{fa-icon "external-link-square" fixedWidth=true class="external-icon"}}
                </a>
            </div>
        {{/if}}
          <h1 class="p-title">{{fa-icon "bolt" fixedWidth=true}} {{incident.result.name}}</h1>
          {{#if incident.result.description.content}}
            <div class="p-key">Description:</div>
            <pre>{{incident.result.description.content}}</pre>
          {{/if}}
          {{#each incidentFields as |fieldObj|}}
              {{#if (get incident fieldObj.property)}}
                  {{#if (eq fieldObj.type "date")}}
                      <div>
                          <span class="p-key">{{fieldObj.name}}: </span>
                          <span class="p-value">{{moment-format (get incident fieldObj.property) 'MM/DD/YYYY' timeZone=timezone}}</span>
                      </div>
                  {{else if (eq fieldObj.type "block")}}
                      <div>
                          <span class="p-key">{{fieldObj.name}}: </span>
                          <pre>{{get incident fieldObj.property}}</pre>
                      </div>
                  {{else}}
                      <div>
                          <span class="p-key">{{fieldObj.name}}: </span>
                          <span class="p-value">{{get incident fieldObj.property}}</span>
                      </div>
                  {{/if}}
              {{/if}}
          {{/each}}
      </div>
  {{/if}}

  {{#if (eq incident.__activeTab "matches")}}
    <div class="tab-container">
    {{#each (get details.matchesByIncidentId incident.result.id) as | match | }}
      <h1 class="p-title">{{fa-icon "square" fixedWidth=true}} {{capitalize match.type_id}}</h1>
      {{#each (get searchMatchFields match.type_id) as |fieldObj fieldIndex|}}
        {{#if (get match fieldObj.property)}}
          {{#if (eq fieldObj.type "date")}}
              <div>
                <span class="p-key">{{fieldObj.name}}: </span>
                <span class="p-value">{{moment-format (get match fieldObj.property) 'MM/DD/YYYY' timeZone=timezone}}</span>
              </div>
          {{else if (eq fieldObj.type "block")}}
              <div>
                <span class="p-key">{{fieldObj.name}}: </span>
                <pre>{{get match fieldObj.property}}</pre>
              </div>
          {{else}}
              <div>
                <span class="p-key">{{fieldObj.name}}: </span>
                <span class="p-value">{{get match fieldObj.property}}</span>
              </div>
          {{/if}}
        {{/if}}
      {{/each}}
    {{/each}}
    </div>
  {{/if}}

  {{#if (eq incident.__activeTab "notes")}}
      <div class="tab-container">
          {{#if incident.__loadingNotes}}
              <div class="tab-loading-indicator">
                  {{fa-icon "spinner-third" spin=true}} Loading Notes
              </div>
          {{else}}
              <div class="post-comment-container">
                  <div>
                      {{textarea value=incident.__note rows="3"}}
                  </div>
                  <div class="post-comment-button-container d-flex align-items-center justify-content-between">
                      <div class="p-footnote">
                          Displaying {{incident.comments.length}} of {{incident.totalComments}} most recent notes.
                      </div>
                      <div>
                          <button {{action "createComment" incident.inc_id incidentIndex}} type="submit" disabled={{incident.__postButtonDisabled}}>
                              Post
                          </button>
                      </div>
                  </div>
                  {{#if incident.__postNoteError}}
                      <div class="p-red">
                          {{fa-icon "exclamation-triangle" fixedWidth=true}} {{incident.__postNoteError}}
                      </div>
                  {{/if}}
              </div>

              {{#each incident.comments as |comment|}}
                  <div class="comment-block">
                      <div class="comment-header">
                          <span class="comment-username">{{comment.user_name}}</span> added a note on {{moment-format comment.create_date timeZone=timeZone}}
                      </div>
                      <div class="comment-body">
                        {{{comment.text}}}
                      </div>
                      {{#if (gt comment.children.length 0)}}
                          {{!-- these are responses to the top level comment --}}
                          {{#each comment.children as |childComment|}}
                              <div class="child-comment">
                                  <div class="comment-header">
                                      <span class="comment-username">{{childComment.user_name}}</span> added a note on {{moment-format childComment.create_date timeZone=timeZone}}
                                  </div>
                                  <div class="comment-body">
                                      {{{childComment.text}}}
                                  </div>
                                  {{#if (gt childComment.children.length 0)}}
                                      <div class="p-footnote additional-responses">{{fa-icon "info-circle"}} Additional responses must be viewed in Resilient.</div>
                                  {{/if}}
                              </div>
                          {{/each}}
                      {{/if}}
                  </div>
              {{/each}}
          {{/if}}

      </div>
  {{/if}}
{{/each}}
{{#if (not-eq details.incidents.length details.totalIncidentCount)}}
  <div class="pt-2">
    <a href="{{details.uiUrl}}/#search?q={{block.entity.value}}">
     View {{sub details.totalIncidentCount details.incidents.length}} additional incidents in Resilient {{fa-icon "external-link-square" fixedWidth=true class="external-icon"}}
    </a>
  </div>
{{/if}}


